<div class="row">
  <h2>Edit <%= restaurant.name %></h2>
  <form class="col l12" action="/restaurants/<%= restaurant.id %>" method="post" value='<%= restaurant.name %>'>
    <input type='hidden' name='_method' value='PUT'>
    <div class="input-field col l12">
      <input type="text" name="name" id="name_field" value="<%= restaurant.name %>">
      <label for="name_field">Name</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="url" id="url_field" value="<%= restaurant.url %>">
      <label for="url_field">Image URL</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="location" id="location_field" value="<%= restaurant.location %>">
      <label for="location_field">Location</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="phone" id="phone_field" value="<%= restaurant.phone %>">
      <label for="phone_field">Phone</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="email" id="email_field" value="<%= restaurant.email %>">
      <label for="email_field">Email</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="website" id="website_field" value="<%= restaurant.website %>">
      <label for="website_field">Website</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="food" id="food_field" value="<%= restaurant.food %>">
      <label for="food_field">Food</label>
    </div>
    <div class="input-field col l12">
      <button class="green btn">Edit Restaurant</button>
    </div>
  </form>
</div>
