<div class="row">
  <% if(object.restaurant) {%>
  <h2>Edit Review <%= object.title %> for
  <%= object.restaurant.name %></h2>
  <% }else{ %>
    <h2>Edit Review <%= object.title %>
    <%}%>
  <form class='col l12' action="/reviews/<%= object.id %>" method="post" value='<%= object.title %>'>
    <input type='hidden' name='_method' value='PUT'>
    <div class="input-field col l12">
      <input type="text" name="title" id='title_field' required value="<%= object.title %>">
      <label for="title_field">Title of Review</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="rating" id='rating_field' required value="<%= object.rating %>">
      <label for="rating_field">Rating</label>
    </div>
    <div class="input-field col l12">
      <input type="text" name="comments" id='comments_field' value="<%= object.comments %>">
      <label for="comments_field">Comments</label>
    </div>
      <button class="green btn">Add Review</button>
  </form>
</div>
<form action="/reviews/<%= object.id %>" method="post">
  <div class="col l10">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn red">Delete Review</button>
  </div>
</form>
