<div class="row">
  <h3 class="col l10"><%= object.name %></h3>
  <ul class="col l10">
      <li><%= object.location %></li>
      <li><%= object.phone %></li>
      <li><%= object.email %></li>
      <li><%= object.website %></li>
      <li><%= object.food %></li>
  </ul>

    <form action="/restaurants/<%= object.id %>" method="post">
      <% if(locals.isLoggedIn) {%>
        <% if((object.user && object.user.id) === locals.user.id){ %>
          <div class="col l10">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn red">Delete Restaurant</button>
          </div>
        <% } %>
      <% } %>
    </form>
</div>
