
<div class="row">
  <div class="col s12 m12 l6">
    <div class="card">
      <div class="card-content grey-darken-3-text">
        <div class="card-image materialboxed">
          <img src="<%= restaurant.url %>">
        </div>
        <span class="card-title">
          <%= restaurant.name %>
        </span>
        <p><%- restaurant.getStarIcons() %></p>
        <p><span>Location:</span> <%= restaurant.location %></p>
        <p><span>Number:</span> <%= restaurant.phone %></p>
        <p><span>Website:</span> <%= restaurant.website %></p>
        <p><span>Cuisine:</span> <%= restaurant.food %></p>
      </div>
      <div class="card-action">
        <form action="/restaurants/<%= restaurant.id %>" method="post">
          <% if(locals.isLoggedIn) {%>
            <% if((restaurant.user && restaurant.user.id) === locals.user.id){ %>
              <input type="hidden" name="_method" value="DELETE">
              <button class="red-text text-darken-2 restaurant-delete">Delete</button>
              <a href="/restaurants/<%= restaurant._id %>/edit" class="restaurant-edit red-text text-darken-2">Edit</a>
            <% } %>
          <% } %>
        </form>


    <% if(locals.isLoggedIn){ %>
      <a class="red-text text-darken-2 modal-trigger" href="#modal1">New Review</a>
      <div id="modal1" class="modal">
        <div class="row">
          <h2>Add a new Review</h2>
          <form class='col l12' action="/restaurants/<%= restaurant.id%>/reviews" method="post">
            <div class="input-field col l12">
              <input type="text" name="title" id='title_field' required>
              <label for="title_field">Title of Review</label>
            </div>
            <div class="input-field col l12">
              <p>
                <label>Rating out of 5</label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="rating" type="radio" value= 1 />
                  <span>1</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="rating" type="radio" value= 2 />
                  <span>2</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="rating" type="radio" value= 3 checked/>
                  <span>3</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="rating" type="radio" value= 4 />
                  <span>4</span>
                </label>
              </p>
              <p>
                <label>
                  <input class="with-gap" name="rating" type="radio" value= 5 />
                  <span>5</span>
                </label>
              </p>
            </div>
            <div class="input-field col l12">
              <input type="text" name="comments" id='comments_field'>
              <label for="comments_field">Comments</label>
            </div>
            <button class="modal-action modal-close waves-effect waves-green btn-flat">Add Review</button>
          </form>
        </div>
      </div>
    <%}%>
  </div>
</div>
</div>

<iframe width="100%" height="450" frameborder="0" class='col l6 m12 s12 center-align' style="border:0"
src="<%= restaurant.map %>" allowfullscreen></iframe>

    <% restaurant.reviews.forEach(review => { %>
      <div class="col s12 m12 l6 review-card">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title grey-text text-lighten-2">
              <%= review.title %> -- By user <%= review.user.username%>.
            </span>
            <p><%= review.rating %></p>
            <p><%= review.comments %></p>
            <% if(locals.isLoggedIn) {%>
              <% if((review.user && review.user.id) === locals.user.id){ %>
                <form action="/restaurants/<%= restaurant.id %>/reviews/<%= review.id %>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class='delete-review' href="" class="red-text text-lighten-1">Delete Review</button>
                <a class='edit-review' href="/restaurants/<%= restaurant.id %>/reviews/<%= review.id %>/edit" class="grey-text text-lighten-1">Edit Review</a>
                </form>
                <% } %>
                <% } %>
          </div>
        </div>
      </div>
    <% }) %>
</div>
